@font-face {
    font-family: 'iconfont';
    /* project id 1635615 */
    src: url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.eot');
    src: url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.woff2') format('woff2'), url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.woff') format('woff'), url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.ttf') format('truetype'), url('//at.alicdn.com/t/font_1635615_eevhq8cbj9r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont:hover {
    cursor: pointer;
}

.icon-vertical_line:before {
    content: "\e602";
}

.icon-xiaoxi:before {
    content: "\e6ed";
}

.icon-yanjing:before {
    content: "\e60f";
}

.icon-zanpress:before {
    content: "\e600";
}